
.sateliite-container {

    width: 340px;
    height: 180px;

    &.small {
        width: 200px;
        height: 105px;
    }

    &.satellite-1 {
        background-image: url('../../../public/satellites/satellite_1.png');
    }

    &.satellite-2 {
        background-image: url('../../../public/satellites/satellite_2.png');
    }

    &.satellite-3 {
        background-image: url('../../../public/satellites/satellite_3.png');
    }

    &.satellite-4 {
        background-image: url('../../../public/satellites/satellite_4.png');
    }

    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    // background-size: 800% 100%; // Adjust this value based on the number of frames in the sprite
    // animation: spriteAnimation 1s steps(8) infinite; // Adjust the animation duration and steps based on your sprite
}