
.probe-container {
    
    width: 120px;
    height: 250px;

    &.small {
        width: 60px;
        height: 130px;
    }

    &.probe-1 {
        background-image: url('../../../public/probes/probe_1.png');
    }

    &.probe-2 {
        background-image: url('../../../public/probes/probe_2.png');
    }

    &.probe-3 {
        background-image: url('../../../public/probes/probe_3.png');
    }

    &.probe-4 {
        background-image: url('../../../public/probes/probe_4.png');
    }

    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    // background-size: 800% 100%; // Adjust this value based on the number of frames in the sprite
    // animation: spriteAnimation 1s steps(8) infinite; // Adjust the animation duration and steps based on your sprite
}