.card-wrapper {
    padding: 40px 32px 48px 32px;
    color: white;
  }

@keyframes rotate {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

.my-planet-image {
    animation: rotate 15s linear infinite;
}